img{
  width: 175px;
  height: auto;
  margin: 10px;
}

  .character {
    text-align: center;
    float: left;
    border: solid black;
    background-color: grey;
    height: 150px;
    width: 200px;
  }

  .row{
    width: 100vw;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  #attack{
    display: block;
  }