body{
  display: block;
  line-height: 1pt;
  width: 60%;
}

#topRow{
  display:flex;
}

#enemyRow{
  display: flex;
}

h1{
  display:block;
  width: 100vw;
  font-size: 24pt;
  line-height: 2rem;
}

img{
  display: block;
  width: 175px;
  height: auto;
  margin: 10px;
}

  .character {
    text-align: center;
    border: solid black;
    background-color: grey;
    height: 150px;
    width: 200px;
  }
 


  #attack{
    display: block;
  }